.suggestions{
    cursor: pointer;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}
.suggestions:hover{
    background-color: gray;
}
.suggestionsContainer{
    height: auto;
    max-height: 100px;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    z-index: 10;
    width: 100%;
    background-color: rgb(166, 166, 186);
}
.languageSelector{
    padding-left: 10px !important;
    padding-right: 10px !important;
    margin-left: 10px;
    margin-right: 10px;
    color: white
}

.languageSelector > div{
    color: white !important
}